{% load socialaccount %}
{% load allauth i18n%}

<h1>Django Allauth Tutorial</h1>
{% if user.is_authenticated %}
<p>Welcome {{ user.username }} !!!</p>
{% block content %}
    {% element h1 %}
        {% trans "Sign Out" %}
    {% endelement %}
    <p>{% trans 'Are you sure you want to sign out?' %}</p>
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Sign Out' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}

{% else %}
<a href='{% provider_login_url "google" %}'>Google</a>
{% endif %}