<!DOCTYPE html>

{% load socialaccount %}
{% load allauth i18n %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/fbb407c172.js" crossorigin="anonymous"></script>
    <style>
        body {
          height: 100vh;
          background: linear-gradient(to bottom, #800000 calc(100vh / 2.5), #ffffff 0%);
        }
        .container {
            margin-top: 20vh; /* Adjust this value to move the card down */
          }
      </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body p-5">
                        <img src="https://login.bc.edu/nidp/images/assets/image/logo-alt2.png" 
                            class="img-fluid mb-5" 
                            alt="Boston College Logo"/>
                            {% if user.is_authenticated %}
                        <p>Welcome {{ user.first_name }} {{ user.last_name }} !!!</p>
                        {% block content_auth_form %}
                            <form method="post" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-lg btn-danger">{% translate "Log out" %}</button>
                            </form>
                        {% endblock content_auth_form %}
                        {% else %}
                            <div class="text-center mt-5">
                                <a href='{% provider_login_url "google" %}' class="btn btn-lg btn-danger">
                                    <i class="fab fa-google m-2"></i> 
                                    <text>Sign in with Google</text>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>