{% load static %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boston College Student Planner</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <section class="features">
        <div class="container">
          <h3>Available Classes</h3>
          <ul class="class-list">
            {% for obj in object_list %}
            <li>
              <strong>Title:</strong> {{ obj.title}}<br />
            </li>
            {% empty %}
            <li>No Courses.</li>
            {% endfor %}
          </ul>
        </div>
      </section>
</body>