{% load static %}
{% load my_filters %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boston College Student Planner</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
      .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px; /* adjust as needed */
      }
    </style>
  </head>
  <body>
    <section class="features">
        
        {% for planner in planners %}
        <h1>{{ planner.name }}</h1>
          <div class="container grid-container">
            {% for semester_name, semester in planner.semesters %}
            <a href="/plan-semester/{{semester.pk}}">
                <div class="card" style="min-height:360px;">
                  <h2 style="margin: 16 0 0 0; background-color: white">{{ semester_name|replace_underscore|title }}</h2>
                  <hr>
                    <div style="height: 100% !important;">
                    {% if semester %}
                        {% for course in semester.courses.all %}
                        <div style="padding: 10px; margin: 10px; background-color: rgba(211, 211, 211, 0.5); border-radius: 5px">
                            <p style="margin: 0px">{{ course }}</p>
                        </div>
                        {% endfor %}
                        {{ semester.credit_hours }} credit hours
                    {% else %}
                    {% endif %}
                </div>
                </div>
              </a>
            {% endfor %}
        </div>
        {% endfor %}
      </section>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit">Create Planner</button>
    </form>
</body>
</html>