<link rel="stylesheet" href="{% static 'static/planner/nav.css' %}">

<nav class="navbar">

    <div class="BC-container">
        <img src="./assets/logo.png" alt="BC Logo">
        <span>Eagles Apps Student Login</span>
    <div/>
    <hr>

    <p>Academic</p>
    <ul>
        <li><a href="#">Course Plans</a></li>
        <li><a href="#">Explore Majors and Minors</a></li>
        <li><a href="#">Explore Course</a></li>
        <li><a href="#">Ap/IB Fullfilments</a></li>
    </ul>
    <hr>
    
    <p>Settinsgs</p>
    <ul>
        <li><a href="#">Account Settinsgs</a></li>
        <li><a href="#">Notification</a></li>
    </ul>

    <div>
        <p>Logout
        </p>
    </div>

</nav>
